body{
  background-color: rgb(186, 181, 181);

}

.homeBody{
  background-image: url(bike.jpg);
  text-align: center;
  font-size: 175%
}

.homeBox{
  position: absolute;
	width: 100%;
  height: 80%;
	background-color: rgba(238, 238, 238, 0.5);
	overflow: auto;
}

.navbar {
  background-color: black;
  padding: 20px;
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .left-section {
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-right: 20px;
  margin-left: 10px;
  width: 100px;
  height: 50px;
  max-width: 100%;
  max-height: 100%;
}

.navbar .title {
  margin-left: 20px;
  color: #776b83;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  margin-right: 2rem;
}

.navbar .right-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar .right-section li {
  margin-left: 10px;
}


.navbar a {
  display: block;
  background-color: black;
  padding: 10px 20px;
  white-space: nowrap;
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.navbar a:hover {
    color: #9077d5;
}

.navbar a.active {
    color: #9077d5;
}

#icon{
  margin-left: 160px;
  font-size: 200%;
  color: white;
}

.location{
  text-align: right;
}
/*======================================*/

.box{
    background-color: rgb(186, 181, 181);
    padding: 20px;
    margin-top: 10px;
    height: fit-content;
}

.header{
    margin-top: 100px;
    font-size: 80px;
}

.openhours{
    font-weight: bold;
    font-size: 32;
}

/*=============about us==============*/

.aboutBox{
    margin-left: 10%;
    margin-top: -5%;
}

.aboutBox2{
    margin-top: 40px;
    margin-right: 10%;
    margin-left: 20%;
}

.aboutTitle2{
  margin-top: 20%;
  font-weight: bold;
  font-size: 32;
  text-align: right;
}

.aboutContent{
  width: 50%;
  text-align: justify;
}

.aboutContent2{
  text-align: justify;
}

.aboutImage1{
  width: 100%;
  height: auto;
  float: right;
  margin-right: -900px;
  margin-top: 80px;
}

#aboutUsImg1 {
  width: 30%;
}

.aboutImage2{
  float: left;
  height: auto;
  margin-left: 10%;
  margin-top: 160px;
}

#aboutUsImg2{
  width: 70%;
}
/*====================Book Btn===============*/
#book{
    background-color: black;
    border-radius: 32px;
    border: 3px solid gray;
}

.bookBox{
    background-color: rgb(186, 181, 181);
    padding: 20px;
    margin-top: 10px;
    height: 100vh;
    align-items: center;
    text-align: center;
}


.bookBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#bookButton {
  background-color: black;
  color: #9077d5;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 32px;
  font-weight: bold;
}

#bookButton:hover {
  background-color: #9077d5;
  color: black;
  font-weight: bold;
}

.bookingConfirmBox{
    text-align: center;
    background-color: rgb(186, 181, 181);
    padding: 20px;
    margin-top: 10px;
    height: 100vh;
}

.bookingConfirmBox p{
    font-size: 32px;
}



.bookId{
    font-size: 32px;
}

#openTimeBook p{
  font-size: 20px;
}

/*=======================services Box===========*/

.serviceBox{
    background-color: rgb(186, 181, 181);
    padding: 20px;
    margin-top: 10px;
    height: 150vh;
}

.serviceTitle{
    font-size: 48px;
}

.service1{
    margin-left: 10%;
    margin-top: -5%;
    margin-top: 32px;
    font-size: 24px;
}


.service2{
    margin-left: 10%;
    margin-top: -5%;
    margin-top: 240px;
    font-size: 24px;
}

#tuneUpImg{
    width: 40%;
    height: auto;
    float: right;
    margin-right: 240px;
    margin-top: 32px;
}

/*=======================technitian============*/

.technitianBox{
    background-color: rgb(186, 181, 181);
    padding: 20px;
    margin-top: 10px;
    height: 100vh;
    text-align: center;
}

.technician{
  margin-left: 30%;
  margin-right: 10%;
  margin-top: 32px;
  font-size: 120%;
}

.techContent{
  width: 70%;
  text-align: justify;
}